pandas
numpy
spacy
textacy
symspellpy
torch==1.4.0+cpu

transformers
click
tqdm
pip-tools
requests
beautifulsoup4

dvc[gs]==0.80.0
pytest
mypy==0.770
pylint==2.4.4

pydantic
fastapi
uvicorn
elasticsearch>=6.0.0<7.0.0
